<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>MailCreateServlet</servlet-name>
        <servlet-class>
            fr.wcs.mailapp.MailCreateServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MailCreateServlet</servlet-name>
        <url-pattern>/create_email</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MailContentServlet</servlet-name>
        <servlet-class>fr.wcs.mailapp.MailContentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MailContentServlet</servlet-name>
        <url-pattern>/victory_email</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserLoginServlet</servlet-name>
        <servlet-class>fr.wcs.mailapp.UserLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserLoginServlet</servlet-name>
        <url-pattern>/user/login</url-pattern>
    </servlet-mapping>
</web-app>